.upload-button {
  width: 50%;
}

@media (max-width: 768px) {
  .upload-button {
    width: 100%;
  }
}

.view-button {
  width: 50%;
}

@media (max-width: 768px) {
  .view-button {
    width: 100%;
  }
}

.home-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
